<p>Hi, {{firstName}}</p>

<p>Thank you for signing up with Helping Hand.</p>
<p>Please click the button below to verify your email.</p>
<div class="btn-primary">
    <a href="{{verifyUrl}}" target="_blank">Verify Email</a>
</div>
